* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
    width: 100%;
    min-width: 1100px;
    height: 184px;
    margin: 0px auto;

    background: #FCFDFE;
}

img.logo {
    position: absolute;
    width: 330px;
    height: 110px;
    left: 12px;
    top: 12px;
}

.header_moto {
    position: absolute;
    width: 378px;
    left: 351px;
    top: 42px;

    font-family: 'Alegreya Sans SC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;

    color: #252523;
}

.header_line {
    position: absolute;
    border-left: 1px solid #252523;
    height: 110px;
    right: 354px;
    top: 12px;
}

.header_menu {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 134px;

    background: #252523;
}

.login_window {
    position: absolute;
    width: 330px;
    height: 110px;
    right: 12px;
    top: 12px;
}

img.phone {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 36px;
    top: 3px;
}

.login_button1 {
    position: absolute;
    width: 166px;
    height: 70px;
    top: 40px;
    border: 0;
    text-align: left;

    background-color: #323E6F;
}

.login_button2 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 40px;
    right: 82px;
    border: 0;

    background-color: #323E6F;
}

.login_button3 {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 40px;
    right: 0;
    border: 0;

    background-color: #323E6F;
}

.login_text_style {
    font-family: Alegreya Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #FCFDFE;
}

.login_user_you {
    position: absolute;
    width: 99px;
    height: 24px;
    left: 8px;
    top: 6px;
}

.login_user_name {
    position: absolute;
    width: 99px;
    height: 26px;
    left: 8px;
    top: 35px;
}

.login_add_post {
    position: relative;
    text-align: center;
    width: 47px;
    height: 58px;
    margin: auto;
    top: 0px;
}

.login_log_out {
    position: relative;
    text-align: center;
    width: 38px;
    height: 58px;
    margin: auto;
    top: 0px;
}

.login_phone_num {
    position: absolute;
    width: 222px;
    height: 26px;
    top: 3px;
    left: 72px;

    font-family: Alegreya Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    color: #252523;
}

.main {
    position: relative;
    width: 100%;
    height: 1220px;
    top: 0px;
    max-width: 1200px;
    margin: auto;

    background: #FCFDFE;
}

.side_panel {
    position: absolute;
    width: 240px;
    height: 415px;
    left: 12px;
    top: 12px;
    background: #F0EDEC;

    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
}

.side_date_text {
    position: relative;
    height: 20px;
    top: 1px;
    left: 5px;
}

.side_search_from_field {
    position: absolute;
    width: 115px;
    height: 20px;
    left: 5px;
    top: 24px;

    background: #FCFDFE;
    border: 0.5px solid #252523;
    box-sizing: border-box;
}

.side_search_to_field {
    position: absolute;
    width: 116px;
    height: 20px;
    right: 5px;
    top: 24px;
    border-right-style: none;

    background: #FCFDFE;
    border: 0.5px solid #252523;
    box-sizing: border-box;
}

.side_vendors_name_text {
    position: absolute;
    height: 22px;
    left: 5px;
    top: 45px;
}

.side_vendors_field {
    position: absolute;
    width: 230px;
    height: 20px;
    left: 5px;
    top: 68px;


    background: #FCFDFE;
    border: 0.5px solid #252523;
    box-sizing: border-box;
}

.side_hashtag_list1 {
    position: absolute;
    width: 112px;
    height: 240px;
    left: 8px;
    top: 100px;
    list-style-type: none;
}

.side_hashtag_list2 {
    position: absolute;
    width: 112px;
    height: 240px;
    left: 123px;
    top: 100px;
    list-style-type: none;
}

.side_small_text_style {
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #252523;
}

.side_line_design {
    position: absolute;
    width: 226px;
    height: 0px;
    left: 7px;
    top: 330px;

    border-top: 1px solid #252523;
}

.side_date_sort_from_last {
    position: relative;
    height: 20px;
    top: 325px;
    left: 5px;
}

.side_date_sort_from_first {
    position: relative;
    height: 20px;
    top: 330px;
    left: 5px;
}

.content {
    position: absolute;
    width: 936px;
    height: 1400px;
    left: 252px;
    top: 12px;
    list-style-type: none;

    border: 0.5px solid #252523;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.content_offer {
    position: relative;
    width: 936px;
    height: 120px;

    background: #FCFDFE;
    border: 0.5px solid #252523;
    box-sizing: border-box;
    border-top-style: none;
}

.offer_name_style {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.hashtags_style {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #323E6F;
}

.description_style {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #252523;
}

.offer_date_style {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

img.offer_pic {
    position: absolute;
    width: 192px;
    height: 108px;
    left: 6px;
    top: 6px;
}

.offer_name_text {
    position: relative;
    height: 22px;
    left: 205px;
    top: 1px;
}

.hashtags_text {
    position: relative;
    height: 16px;
    left: 205px;
    top: -3px;
}

.description_text {
    position: relative;
    max-width: 500px;
    max-height: 70px;
    left: 205px;
    top: -3px;

    line-height: 1;
}

img.star_rating_first {
    position: absolute;
    width: 16px;
    height: 15.33px;
    left: 203px;
    bottom: 5px;
}

img.star_rating_second {
    position: absolute;
    width: 16px;
    height: 15.33px;
    left: 220px;
    bottom: 5px;
}

img.star_rating_third {
    position: absolute;
    width: 16px;
    height: 15.33px;
    left: 237px;
    bottom: 5px;
}

img.star_rating_fourth {
    position: absolute;
    width: 16px;
    height: 15.33px;
    left: 254px;
    bottom: 5px;
}

img.star_rating_fifth {
    position: absolute;
    width: 16px;
    height: 15.33px;
    left: 271px;
    bottom: 5px;
}

.reviews_num_text {
    position: absolute;
    max-width: 60px;
    height: 16px;
    left: 293px;
    bottom: 4px;
    border: 0;
    background: transparent;
}

.post_review_text {
    position: absolute;
    width: 100px;
    height: 16px;
    left: 365px;
    bottom: 4px;
    border: 0;
    background: transparent;
}

.vendors_name_text {
    position: absolute;
    max-width: 300px;
    height: 16px;
    left: 482px;
    bottom: 4px;
    border: 0;
    background: transparent;
}

.delete_offer_button {
    position: absolute;
    width: 80px;
    height: 50px;
    right: 132px;
    top: 8px;
    text-align: center;
    background: #F0EDEC;
    border: 0;
}

.delete_offer_button_text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.edit_offer_button {
    position: absolute;
    width: 80px;
    height: 50px;
    right: 132px;
    top: 62px;
    text-align: center;
    background: #F0EDEC;
    border: 0;
}

.edit_offer_button_text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.discount_amount {
    position: absolute;
    width: 120px;
    height: 50px;
    right: 8px;
    top: 8px;
    text-align: center;
    background: #F0EDEC;
}

.discount_amount_text {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: 49px;
    font-family: Open Sans;
    font-size: 36px;
    line-height: 49px;
    color: #00BC13;
}

.discount_date {
    position: absolute;
    width: 120px;
    height: 50px;
    right: 8px;
    top: 62px;
    text-align: center;
    background: #F0EDEC;
}

.discount_date_text {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.right_buttons_text_style {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #323E6F;
}

.offer_date_post_text {
    position: absolute;
    height: 16px;
    right: 220px;
    top: 7px;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5)
}

.load_more_button {
    position: absolute;
    width: 100%;
    height: 80px;
    margin-top: 12px;
    text-align: center;
    border: 0.5px solid #252523;
    box-sizing: border-box;
    background: #F0EDEC;
}

.load_more_text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -60%)
}

.footer {
    position: relative;
    width: 100%;
    height: 102px;
    bottom: 0px;
    margin: 0px auto;

    min-width: 1100px;
    margin-top: 102px;
    background: #252523;
}

.footer_big_text_style {
    font-family: Alef;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #939494;
}

.footer_text_style {
    font-family: Alef;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #939494;
}

.footer_part1 {
    position: absolute;
    width: 230px;
    height: 102px;
    left: 0px;
    text-align: center;
}

.footer_text_rights {
    position: relative;
    width: 227px;
    height: 38px;
    top: 6px;
    margin: auto;
}

.footer_logo {
    position: relative;
    width: 165px;
    height: 55px;
    top: 6px;
}

div.footer_part2 {
    position: absolute;
    width: 230px;
    height: 102px;
    left: 28%;
    text-align: center;
}

.footer_text_contact {
    position: relative;
    width: 111px;
    height: 25px;
    top: 6px;
    margin: auto;
}

.footer_text_mail {
    position: relative;
    width: 194px;
    height: 19px;
    top: 4px;
    margin: auto;
}

.footer_text_name {
    position: relative;
    width: 213px;
    height: 19px;
    top: 2px;
    margin: auto;
}

.footer_text_phone_num1 {
    position: relative;
    width: 147px;
    height: 19px;
    top: 0px;
    margin: auto;
}

.footer_text_phone_num2 {
    position: relative;
    width: 147px;
    height: 19px;
    margin: auto;
}

.footer_part3 {
    position: absolute;
    width: 230px;
    height: 102px;
    right: 28%;
}

.footer_text_advertising {
    position: relative;
    width: 116px;
    height: 25px;
    top: 6px;
    margin: auto;
}

.footer_part4 {
    position: absolute;
    width: 230px;
    height: 102px;
    right: 0px;
}

.footer_text_following {
    position: relative;
    width: 99px;
    height: 25px;
    top: 6px;
    margin: auto;
}

.footer_logo1 {
    position: absolute;
    top: 37px;
}

.footer_logo2 {
    position: absolute;
    top: 37px;
    left: 56px
}

.footer_logo3 {
    position: absolute;
    top: 37px;
    left: 112px
}

.footer_logo4 {
    position: absolute;
    top: 37px;
    left: 168px
}